<?xml version="1.0" encoding="UTF-8" ?>

<beans>
    <bean id="fruitDAO" class="me.jackson.pro17fruitthymeleaf.fruit.dao.impl.FruitDAOImpl"/>

    <bean id="fruitService" class="me.jackson.pro17fruitthymeleaf.fruit.service.impl.FruitServiceImpl">
<!--        property标签表示属性名， ref表示引用其他bean的id值-->
<!--        ref这里对应的是其他bean 的id 以便我们能快速的找到我们需要其他的Class赋值到我们当前Bean id的这个class 的里面的其中一个属性来 -->
<!-- 在当前class里面有个dao 就是属于FruitDao类， 我们通过refId从beanMap里面获取到实例 然后赋值到当前类的dao属性上面-->
        <property name="dao" ref="fruitDAO"/>
    </bean>
<!-- 这个bean标签作用是 servletpath中涉及名字对应是fruit， 那就要找FruitController这个类来处理-->


    <bean id="fruit" class="me.jackson.pro17fruitthymeleaf.fruit.controllers.FruitController">
        <property name="fruitService" ref="fruitService"/>
    </bean>
</beans>

<!--
1.概念
    HTML:超文本标记语言
    XML:可扩展的标记语言
    HTML是XML的一个子集
2.XML包含三个部分：
    1.XML申明 必须在第一行
    2. DTD(document type definition) 文档类型定义
    3. XML正文
    -->