table, th, td {
    border: 1px solid black;
}

#title {
    text-align: center;
}
.w20 {
    font-weight: bold;
}
body {
    background-color: navajowhite;
}

.delimg{
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}